@text--black-primary: rgba(0,0,0,0.87);
@text--black-secondary: rgba(0,0,0,0.65);
@text--white-secondary: rgba(255,255,255,0.67);

.text {
    &--black {
        color: @text--black-primary !important;

        &--secondary {
            color: @text--black-secondary;
        }
    }

    &--white {
        color: #fff;

        &-secondary {
            color: @text--white-secondary;
        }
    }
}
