.shadow-depth-0 {
  -webkit-box-shadow: 'none !important';
  -moz-box-shadow: 'none !important';
  box-shadow: 'none !important';
}
.shadow-depth-1 {
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.shadow-depth-2 {
  -webkit-box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.1), 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.1), 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.1), 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}
.shadow-depth-3 {
  -webkit-box-shadow: 0 2px 4.5px 0 rgba(0, 0, 0, 0.14), 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4.5px 0 rgba(0, 0, 0, 0.14), 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4.5px 0 rgba(0, 0, 0, 0.14), 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}
.shadow-depth-4 {
  -webkit-box-shadow: 0 2.5px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 2.5px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 2.5px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.33);
}
