.clickable,
.button {
  cursor: pointer;
  cursor: hand;
}
.button {
  border-radius: 2px 2px;
  border: none;
  outline: none;
  padding: 0 18px;
  height: 36px;
  min-width: 88px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  white-space: nowrap;
  z-index: 1;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button__text {
  position: relative;
  z-index: 2;
}
.button--raised {
  position: relative;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.button--raised:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button--raised:active {
  box-shadow: 0 2px 4.5px 0 rgba(0, 0, 0, 0.14), 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}
.button--raised:active:after {
  background-color: rgba(0, 0, 0, 0.12);
}
.button--disabled {
  color: rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button--disabled:after {
  background-color: rgba(0, 0, 0, 0.12);
}
.button--disabled--dark {
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled--dark:after {
  background-color: rgba(255, 255, 255, 0.12);
}
.button--dark {
  color: #fff;
}
.button--dark:hover:after {
  background-color: rgba(0, 0, 0, 0.1);
}
.button--dark:active:after {
  background-color: rgba(0, 0, 0, 0.15);
}
